
body{
    margin: 0px;
}

.container{
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

.sidebar{
    background-color: white;
}

/*-- We may want to make the form on the sidebar have it's postiioning as fixed so that it doesn't move when we scroll up*/
.sidebar-form{
    
}


.books-section{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: flex-end;
}


.shelves{
    width: 65%;
    background-color: #ba9379;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: 30px solid #ba9379;
    gap: 30px;
    box-shadow: 20px 1px 1px #7288a3;
}

.shelf{
    height: 35vh;
    width: 100%;
    background-color: #9c6657;
    box-shadow: inset 20px 15px rgba(77, 47, 60, .4);
    display: flex;
    justify-content: start;
    align-items: end;
    border-left: 5px solid rgba(77, 47, 60, .4);
    gap: 3px;
}

.top{
    border-radius: 20px 20px 0px 0px;
}

/*--BASE BOOK STYLING... OH CAN CHANGE THE BOX-SHADOW VALUES TO MAKE IT CAST OVER MORE THINGS WHEN SELECTED... THAT'S SO GOATED*/
.book{
    height: 90%; /*--This scould be any random value with a given max and min*/
    width: 2rem;
    background-color: skyblue;
    box-shadow:  20px 0px rgba(77, 47, 60, .4);
}
